body {
    color: #212121;
    font-family: 'Open Sans', Arial;
  
}

a {text-decoration: none;}

.container {
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    background-image: url(assets/beyaz.png), url(assets/mor.png);
    background-repeat: no-repeat;
    background-position: left top, right top;
}
    
.header {
    display: flex;
    align-items: center;
    height: 88px;
    margin-left: 165PX;
}
  
.user {
    display: flex;
    gap: 8px;
    margin-right: 48px;
    margin-left: 774px;
    line-height: 2;
}

.user a {
    color: white;
    margin-right: 0;
}

.user img {
    border-radius: 50%;
}

.arrow {
    display: flex;
}

.users {
    display: flex;
    gap: 40px;
    
}

.hero {
    color: #212121;
    padding: 162px 0 40px 165px;
}

.hero h1 {
    color: #212121;
    font-size: 80px;
    font-weight: 600;
    line-height: 81px; 
    letter-spacing: -0.9px;
    margin-bottom: 24px;
}

.hero p {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 32px;
}

.ctaBtn {
    background: #5D37A2;
    border-radius: 3px;
    color: white;
    font-size: 23px;
    font-weight: 600;
    line-height: 32px;
    padding: 16px 64px;
    display: inline-block;
}

.footer {
    position: fixed;
    padding-top: 185px;
    padding-left: 1278px;
}

.footer img {
    width: 90px;
    height: 40.81px;
}

.svg {
    background-repeat: no-repeat;
    background-position: center; 
    position: absolute;
    padding: 270px 72px 380px 712px;
}  
